body {
  /* baseline/grid: high */
  display: grid;
  grid-template-columns: 1fr minmax(200px, 300px) 1fr;
  gap: 1rem;
  font-family: system-ui, sans-serif;
  /* baseline/color-mix: low */
  background: color-mix(in srgb, lightblue, white 80%);
  /* baseline/container-queries: low */
  container-type: inline-size;
}

.card {
  /* baseline/aspect-ratio: high */
  aspect-ratio: 16 / 9;
  /* baseline/gradients: high */
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.75));
  /* baseline/overflow-shorthand: low */
  overflow: clip;
  /* baseline/view-transitions: false */
  view-transition-name: card-transition;
}

/* baseline/media-queries: high */
/* baseline/prefers-color-scheme: high */
@media (prefers-color-scheme: dark) {
  body {
    /* baseline/color-mix: low */
    background: color-mix(in srgb, black, #333 80%);
  }
}

/* baseline/has: low */
.container:has(.card:hover) {
  outline: 2px solid rebeccapurple;
}

.text {
  /* baseline/text-wrap-balance: low */
  text-wrap: balance;
}

img {
  /* baseline/object-fit: high */
  object-fit: contain;
}


.example {
  /* baseline/view-timeline: low */
  view-timeline: example-timeline;
}
